$primary-color: #1A9347;
$primary-dark: #00573e;
$primary-light: #60bc56;

$accent-color: #F47A23;

$primary-bg: rgba(26, 147, 71, 0.1);

// TextColor
$title-color: #222222;
$content-color: #334155;


//
$white: rgb(255, 255, 255);
$white400: #FFFFFFB2;
$white300: #FFFFFF66;
$white200: #FFFFFF4C;
$white100: #FFFFFF19